.form-inline
    display: inline-block
    width: auto

    .control-label
      display: block

    .form-control
      width: auto

.image-form
  margin: 5px 10px 20px 10px

  img.img-responsive
    width: 20vw
    height: 20vw
    object-fit: cover
    margin: 10px 0

.edit-modal
  width: 90vw
