.login-section{
  background: #333;
  color: white;
  height: 100vh;
}

.login-section .login-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.login-section .login-wrapper .container {
  padding: 0 25%;
}

.login-section .login-wrapper .container .title-row {
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 10px;
}

.login-section .login-wrapper .container .title-row .login-title {
  color: white;
}

.login-section .login-wrapper .container .title-row .login-title.name {
  letter-spacing: 4px;
  margin-right: -4px;
  text-transform: uppercase;
  font-weight: bolder;
}

.login-section .login-wrapper .container .content-row {
  padding: 0 10px;
}

.login-section .login-wrapper .container .content-row .form-control {
  color: white;
}

.login-section .login-wrapper .container .content-row .form-control .help-block {
  color: red;
}

.login-section .login-wrapper .container .content-row .form-control .btn {
  margin-top: 30px;
}
